<div class="portafolio">
    <div class="column">
        <img src="../assets/img/portafolio/comida/l-1.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-2.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-3.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-4.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-5.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/comida/l-6.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-7.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-8.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-9.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-10.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/comida/l-11.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-12.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-13.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-14.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-15.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/comida/l-16.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-17.jpg" alt="">
        <img src="../assets/img/portafolio/comida/l-18.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-1.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-2.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/comida/s-3.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-4.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-5.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-6.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-7.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/comida/s-8.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-9.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-10.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-11.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-12.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/comida/s-13.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-14.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-15.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-16.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-17.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/comida/s-18.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-19.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-1-2.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-3-2.jpg" alt="">
        <img src="../assets/img/portafolio/comida/s-4-2.jpg" alt="">
    </div>
 
 
 
</div>