<div class="contacto_dimension">
    <div class="contacto">
        <h1>Contacto</h1>
        <i class="fa-brands fa-whatsapp">
            <p>victrgarciaphoto@gmail.com</p>
        </i>
        <h1>Redes Sociales</h1>
        <i class="fa-brands fa-instagram"><a href="https://www.instagram.com/victorgarciaph/">
                <p>@victorgarciaph</p>
            </a></i>

        <div class="container_contacto">
            <div class="logo">
                <a href="#/"><img src="../assets/img/logo.png" alt=""></a>
            </div>

        </div>
    </div>