<div class="inicio">
    <div class="cover">
        <a href="#/portafolio"><img src="../assets/img/portafolio/retrato/1-11.jpg"></a>
        <a href="#/portafolio">
            <h3>Retrato</h3>
        </a>
    </div>
    <div class="cover">
        <a href="#/comida"> <img src="../assets/img/portafolio/comida/s-2-2.jpg" alt=""></a>
        <a href="#/comida">
            <h3>comida</h3>
        </a>
    </div>
    <div class="cover">
        <a href="#/paisaje"> <img src="../assets/img/portafolio/paisaje/1-16.jpg"> </a>
        <a href="#/paisaje">
            <h3>Paisaje/urbano</h3>
        </a>
    </div>
 
</div>