<div class="portafolio">
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/1-12.jpg" alt="">

        <img src="../assets/img/portafolio/paisaje/1-13.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/1-15.jpg" alt="">

        <img src="../assets/img/portafolio/paisaje/1-16.jpg" alt="">

    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/1-17.jpg" alt="">

        <img src="../assets/img/portafolio/paisaje/1-18.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/1-19.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/a-11.jpg" alt="">
        <img src="../assets/img/portafolio/paisaje/a-12.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/a-13.jpg" alt="">
        <img src="../assets/img/portafolio/paisaje/a-14.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/a-15.jpg" alt="">
        <img src="../assets/img/portafolio/paisaje/a-16.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/a-18.jpg" alt="">
        <img src="../assets/img/portafolio/paisaje/a-17.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/a-19.jpg" alt="">
        <img src="../assets/img/portafolio/paisaje/a-20.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/a-21.jpg" alt="">
        <img src="../assets/img/portafolio/paisaje/a-22.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/a-23.jpg" alt="">
        <img src="../assets/img/portafolio/paisaje/a-24.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/a.jpg" alt="">
        <img src="../assets/img/portafolio/paisaje/a-27.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/a-3.jpg" alt="">
        <img src="../assets/img/portafolio/paisaje/a-4.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/a-5.jpg" alt="">
        <img src="../assets/img/portafolio/paisaje/a-6.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/a-7.jpg" alt="">
        <img src="../assets/img/portafolio/paisaje/a-8.jpg" alt="">
    </div>
    <div class="column">
        <img src="../assets/img/portafolio/paisaje/a-9.jpg" alt="">
        <img src="../assets/img/portafolio/paisaje/29122019-DSC_0231-Pano.jpg" alt="">
    </div>
    
    
    
    
    
    
</div>