<div class="sobremi">
    <img src="../assets/img/portafolio/DSC_1504.jpg" alt="">

<div class="about">
    <h1>¿Quien soy?</h1>
    <p>Hola, mi nombre es Víctor García soy fotógrafo desde el 2017.
        En el 2016 nació una pizca de motivación por crear contenido y por resaltar mi creativad. Un año después obtuve
        mi primera cámara una nikon d3300. De tantos videos que vi relacionados con la fotografía, no me costó tanto entender acerca de cómo se
        maneja una cámara, lo complicado llegó cuando tenía que llevar a la práctica aquellos conceptos que lograba entender, hasta el día
        de hoy teniendo experiencias sigo pensando que cada día es de aprendizaje, ya que nunca dejas de aprender, simplemente soy un fotógrafo de
        miles pero con un ojo distinto....

    </p>
</div>
</div>